$background-main-color: #DCDCDC;
$primary-color: #B9FF66;
$background-tool-color: #000000;
$background-panel-color: #F2F2F2;

$background-gradient-start: #CACACA;
$background-gradient-end: #E4E4E4;
$foreground-color: #F2F2F2;
$foreground-color-black: #000000;