@use '../../styles/variables' as *;

.black-toolbar {
    height: 56px;
    width: 100%;
    background-color: $background-tool-color;
    color: $foreground-color;
    border-radius: 40px;
    display: flex;
    align-items: center;

    .title {
        font-size: 18px;
        font-weight: bold;
        padding: 0 20px;
    }
}