<div class="left-menu">
    <div class="menu-logo">
        <!--<i class="fa-brands fa-artstation"></i>-->
        <img src="amadeus_logo.png" alt="Amadeus Logo" class="logo-image"/>
    </div>
    <div class="menu-items">
        <a class="menu-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-home"></i>
            <span class="menu-tooltip">Dashboard</span>
        </a>

        <a class="menu-item" routerLink="my-projects" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
            <i class="fa fa-folder"></i>
            <span class="menu-tooltip">My Projects</span>
        </a>

        <a class="menu-item" routerLink="users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
            <i class="fa fa-users"></i>
            <span class="menu-tooltip">Users</span>
        </a>

        <a class="menu-item" routerLink="my-profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
            <i class="fa-solid fa-id-card"></i>
            <span class="menu-tooltip">My Profile</span>
        </a>

        <a class="menu-item" (click)="onLogout()">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span class="menu-tooltip">Logout</span>
        </a>

    </div>
</div>