<div>
    <!--
        <app-toolbar title="My Projects" [showSearch]="false">
        <a class="toolbar-button-round" routerLink="/create-project" title="Create New Project">
            <i class="fa fa-plus"></i>
        </a>
    </app-toolbar>
-->

    <!--<div class="master-title">PROJECTS</div>-->

    <app-tab-container
        [tabs]="tabs"
        (tabChanged)="onTabChanged($event)"
        (tabClosed)="onTabClosed($event)">

        @if (activeTab?.type === TabType.PROJECT_LIST) {
            <app-project-list-view
                [projects]="myProjects"
                (projectOpen)="onProjectOpen($event)">
            </app-project-list-view>
        }

        @if (activeTab?.type === TabType.PROJECT_DETAIL && activeTab?.data) {
            <app-project-detail-view
                [project]="activeTab!.data">
            </app-project-detail-view>
        }
    </app-tab-container>
</div>